function Background.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push pointer 0
return
