function Hole.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 16
call Math.multiply 2
pop this 0
push argument 1
push constant 16
call Math.multiply 2
pop this 1
push pointer 0
return
function Hole.set 0
push argument 0
pop pointer 0
push argument 2
push constant 16
call Math.multiply 2
pop this 0
push argument 1
push constant 16
call Math.multiply 2
pop this 1
push constant 0
return
function Hole.draw 5
push argument 0
pop pointer 0
push constant 16384
pop local 0
push this 1
pop local 2
push this 0
push constant 16
call Math.divide 2
pop local 1
push local 0
push local 1
add
push local 2
push constant 32
call Math.multiply 2
add
pop local 3
push constant 0
pop local 4
label WHILE_EXP0
push local 4
push constant 16
lt
not
if-goto WHILE_END0
push local 3
push local 4
push constant 32
call Math.multiply 2
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
