function Dot.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Dot.draw 0
push argument 0
pop pointer 0
push this 0
push constant 8
call Math.multiply 2
push this 1
push constant 8
call Math.multiply 2
push this 0
push constant 8
call Math.multiply 2
push constant 8
add
push this 1
push constant 8
call Math.multiply 2
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Dot.get_x 0
push argument 0
pop pointer 0
push this 0
return
function Dot.get_y 0
push argument 0
pop pointer 0
push this 1
return
function Dot.set_x 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Dot.set_y 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Dot.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
