function Drawing.init 0
call Drawing.initBorder 0
pop temp 0
call Drawing.initCursor 0
pop temp 0
call Drawing.initMine 0
pop temp 0
call Drawing.initFlag 0
pop temp 0
call Drawing.initNumbers 0
pop temp 0
push constant 0
return
function Drawing.initBorder 1
push constant 1
pop local 0
push constant 16
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
label WHILE_EXP0
push local 0
push constant 15
lt
not
if-goto WHILE_END0
push local 0
push static 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 15
push static 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Drawing.initCursor 0
push constant 16
call Array.new 1
pop static 1
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 15420
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 8196
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 1
add
push constant 8196
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 1
add
push constant 8196
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 1
add
push constant 8196
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 1
add
push constant 8196
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 1
add
push constant 8196
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 1
add
push constant 15420
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Drawing.initMine 0
push constant 16
call Array.new 1
pop static 2
push constant 0
push static 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 2
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 2
add
push constant 2432
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 2
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 2
add
push constant 960
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 2
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 2
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 2
add
push constant 1504
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 2
add
push constant 960
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Drawing.initFlag 0
push constant 16
call Array.new 1
pop static 3
push constant 0
push static 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 3
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 3
add
push constant 416
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 3
add
push constant 1568
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 3
add
push constant 416
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 3
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 3
add
push constant 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 3
add
push constant 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 3
add
push constant 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Drawing.initNumbers 2
push constant 0
pop local 0
push constant 9
call Array.new 1
pop static 4
push constant 16
call Array.new 1
pop local 1
push constant 0
push static 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 1
push static 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 448
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 960
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 2
push static 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 3
push static 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 1920
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 1920
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 4
push static 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 5
push static 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 6
push static 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 992
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 992
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 7
push static 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 1536
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 8
push static 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Drawing.drawBoard 2
call Screen.clearScreen 0
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 0
call Board.getWidth 1
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push argument 0
call Board.getHeight 1
lt
not
if-goto WHILE_END1
push argument 0
push local 0
push local 1
call Board.tileAt 3
call Drawing.drawTile 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push argument 0
call Board.getCursorX 1
push argument 0
call Board.getCursorY 1
call Drawing.drawCursor 2
pop temp 0
push constant 0
return
function Drawing.drawTile 0
push argument 0
call Drawing.drawTileBorder 1
pop temp 0
push argument 0
call Tile.hasBeenRevealed 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
call Drawing.drawTileValue 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Drawing.drawTileBorder 0
push static 0
push argument 0
call Tile.getX 1
push argument 0
call Tile.getY 1
call Drawing.imgOverlay 3
pop temp 0
push constant 0
return
function Drawing.drawTileValue 2
push argument 0
call Tile.getBoard 1
pop local 1
push local 1
push argument 0
call Board.adjacentMineCount 2
pop local 0
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 2
push argument 0
call Tile.getX 1
push argument 0
call Tile.getY 1
call Drawing.imgOverlay 3
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push static 4
add
pop pointer 1
push that 0
push argument 0
call Tile.getX 1
push argument 0
call Tile.getY 1
call Drawing.imgOverlay 3
pop temp 0
label IF_END0
push constant 0
return
function Drawing.drawCursor 0
push static 1
push argument 0
push argument 1
call Drawing.imgOverlay 3
pop temp 0
push constant 0
return
function Drawing.eraseCursor 0
push static 1
push argument 0
push argument 1
call Drawing.imgRemove 3
pop temp 0
push constant 0
return
function Drawing.toggleFlag 0
push argument 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 3
push argument 1
push argument 2
call Drawing.imgOverlay 3
pop temp 0
goto IF_END0
label IF_FALSE0
push static 3
push argument 1
push argument 2
call Drawing.imgRemove 3
pop temp 0
label IF_END0
push constant 0
return
function Drawing.imgOverlay 3
push constant 0
pop local 0
push constant 16384
push argument 1
add
push argument 2
push constant 512
call Math.multiply 2
add
pop local 1
label WHILE_EXP0
push local 0
push constant 16
lt
not
if-goto WHILE_END0
push local 1
call Memory.peek 1
push local 0
push argument 0
add
pop pointer 1
push that 0
or
pop local 2
push local 1
push local 2
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 32
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Drawing.imgRemove 3
push constant 0
pop local 0
push constant 16384
push argument 1
add
push argument 2
push constant 512
call Math.multiply 2
add
pop local 1
label WHILE_EXP0
push local 0
push constant 16
lt
not
if-goto WHILE_END0
push local 1
call Memory.peek 1
push local 0
push argument 0
add
pop pointer 1
push that 0
not
and
pop local 2
push local 1
push local 2
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 32
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
