function FixedPoint.new 1
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push argument 1
pop this 2
push argument 2
pop this 0
push this 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
not
pop this 0
push this 1
neg
pop this 1
push this 2
neg
pop this 2
label IF_FALSE0
push this 1
push constant 0
eq
push this 2
push constant 0
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
not
pop this 0
push this 2
neg
pop this 2
label IF_FALSE1
push this 2
push constant 255
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
push constant 256
call Math.divide 2
pop local 0
push this 2
push local 0
push constant 256
call Math.multiply 2
sub
pop this 2
push this 1
push local 0
add
pop this 1
label IF_FALSE2
push this 2
push constant 0
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
push constant 256
call Math.divide 2
push constant 1
sub
pop local 0
push this 2
push local 0
push constant 256
call Math.multiply 2
sub
pop this 2
push this 1
push constant 0
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
neg
pop local 0
label IF_FALSE4
push this 1
push local 0
add
pop this 1
label IF_FALSE3
push pointer 0
return
function FixedPoint.copy 0
push argument 0
pop pointer 0
push this 1
push this 2
push this 0
call FixedPoint.new 3
return
function FixedPoint.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function FixedPoint.copyFrom 0
push argument 0
pop pointer 0
push argument 1
call FixedPoint.getWhole 1
pop this 1
push argument 1
call FixedPoint.getFraction 1
pop this 2
push argument 1
call FixedPoint.getSign 1
pop this 0
push constant 0
return
function FixedPoint.getWhole 0
push argument 0
pop pointer 0
push this 1
return
function FixedPoint.getFraction 0
push argument 0
pop pointer 0
push this 2
return
function FixedPoint.getSign 0
push argument 0
pop pointer 0
push this 0
return
function FixedPoint.isEqual 0
push argument 0
pop pointer 0
push this 1
push argument 1
call FixedPoint.getWhole 1
eq
push this 2
push argument 1
call FixedPoint.getFraction 1
eq
and
push this 0
push argument 1
call FixedPoint.getSign 1
eq
and
return
function FixedPoint.round 1
push argument 0
pop pointer 0
push this 2
push constant 127
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop local 0
goto IF_END0
label IF_FALSE0
push constant 0
pop local 0
label IF_END0
push this 0
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push local 0
add
neg
return
label IF_FALSE1
push this 1
push local 0
add
return
function FixedPoint.multInt 0
push argument 0
pop pointer 0
push this 1
push argument 1
call Math.multiply 2
push this 2
push argument 1
call Math.multiply 2
push this 0
call FixedPoint.new 3
return
function FixedPoint.multIntEq 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
call FixedPoint.multInt 2
pop local 0
push pointer 0
push local 0
call FixedPoint.copyFrom 2
pop temp 0
push local 0
call FixedPoint.dispose 1
pop temp 0
push constant 0
return
function FixedPoint.negate 0
push argument 0
pop pointer 0
push this 1
push this 2
push this 0
not
call FixedPoint.new 3
return
function FixedPoint.negateEq 0
push argument 0
pop pointer 0
push this 0
not
pop this 0
push constant 0
return
function FixedPoint.add 0
push argument 0
pop pointer 0
push this 0
push argument 1
call FixedPoint.getSign 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push argument 1
call FixedPoint.getWhole 1
add
push this 2
push argument 1
call FixedPoint.getFraction 1
add
push this 0
call FixedPoint.new 3
return
goto IF_END0
label IF_FALSE0
push this 1
push argument 1
call FixedPoint.getWhole 1
sub
push this 2
push argument 1
call FixedPoint.getFraction 1
sub
push this 0
call FixedPoint.new 3
return
label IF_END0
function FixedPoint.addEq 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
call FixedPoint.add 2
pop local 0
push pointer 0
push local 0
call FixedPoint.copyFrom 2
pop temp 0
push local 0
call FixedPoint.dispose 1
pop temp 0
push constant 0
return
function FixedPoint.sub 2
push argument 0
pop pointer 0
push argument 1
call FixedPoint.negate 1
pop local 0
push pointer 0
push local 0
call FixedPoint.add 2
pop local 1
push local 0
call FixedPoint.dispose 1
pop temp 0
push local 1
return
function FixedPoint.subEq 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
call FixedPoint.sub 2
pop local 0
push pointer 0
push local 0
call FixedPoint.copyFrom 2
pop temp 0
push local 0
call FixedPoint.dispose 1
pop temp 0
push constant 0
return
function FixedPoint.mul 2
push argument 0
pop pointer 0
push constant 0
push this 2
push argument 1
call FixedPoint.getFraction 1
call Math.multiply 2
push constant 0
call FixedPoint.new 3
pop local 0
push local 0
call FixedPoint.round 1
pop local 1
push local 0
call FixedPoint.dispose 1
pop temp 0
push this 1
push argument 1
call FixedPoint.getWhole 1
call Math.multiply 2
push this 1
push argument 1
call FixedPoint.getFraction 1
call Math.multiply 2
push argument 1
call FixedPoint.getWhole 1
push this 2
call Math.multiply 2
add
push local 1
add
push this 0
push argument 1
call FixedPoint.getSign 1
eq
not
call FixedPoint.new 3
return
function FixedPoint.print 0
push argument 0
pop pointer 0
push this 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
call String.new 1
push constant 45
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE0
push this 1
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 2
call Output.printInt 1
pop temp 0
push constant 0
return
