function MGun.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 1
pop this 0
push argument 2
pop this 1
push constant 0
pop this 2
push argument 0
pop this 3
push pointer 0
return
function MGun.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function MGun.drawMortal 2
push argument 0
pop pointer 0
push this 0
push constant 16
call Math.divide 2
pop local 0
push this 1
push constant 16
call Math.divide 2
pop local 1
push this 3
push this 0
push this 1
call Level.clearMGunAt 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 3
sub
push constant 0
call Math.max 2
push this 1
push constant 3
sub
push this 0
push constant 3
add
push constant 511
call Math.min 2
push this 1
push constant 3
add
push constant 255
call Math.min 2
call Screen.drawRectangle 4
pop temp 0
push pointer 0
call MGun.drawCannon 1
pop temp 0
push constant 0
return
function MGun.drawCannon 4
push argument 0
pop pointer 0
push this 2
call Trig.sin 1
pop local 0
push this 2
call Trig.cos 1
pop local 1
push local 0
push constant 15
call FixedPoint.multIntEq 2
pop temp 0
push local 1
push constant 15
call FixedPoint.multIntEq 2
pop temp 0
push local 0
call FixedPoint.round 1
pop local 2
push local 1
call FixedPoint.round 1
pop local 3
push local 0
call FixedPoint.dispose 1
pop temp 0
push local 1
call FixedPoint.dispose 1
pop temp 0
push this 0
push local 2
add
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push constant 5
add
pop this 2
label IF_FALSE0
push this 0
push local 2
add
push constant 511
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
push constant 5
sub
pop this 2
label IF_FALSE1
push this 1
push local 3
sub
push constant 255
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
push constant 90
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
push constant 5
add
pop this 2
goto IF_END3
label IF_FALSE3
push this 2
push constant 5
sub
pop this 2
label IF_END3
label IF_FALSE2
push this 2
call Trig.sin 1
pop local 0
push this 2
call Trig.cos 1
pop local 1
push local 0
push constant 15
call FixedPoint.multIntEq 2
pop temp 0
push local 1
push constant 15
call FixedPoint.multIntEq 2
pop temp 0
push local 0
call FixedPoint.round 1
pop local 2
push local 1
call FixedPoint.round 1
pop local 3
push local 0
call FixedPoint.dispose 1
pop temp 0
push local 1
call FixedPoint.dispose 1
pop temp 0
push this 0
push this 1
push this 0
push local 2
add
push this 1
push local 3
sub
call Screen.drawLine 4
pop temp 0
push constant 0
return
function MGun.aim 1
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call MGun.drawMortal 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 32
eq
not
not
if-goto WHILE_END0
push local 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 132
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call MGun.moveRight 1
pop temp 0
label IF_FALSE1
push local 0
push constant 130
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call MGun.moveLeft 1
pop temp 0
label IF_FALSE2
push constant 100
call Sys.wait 1
pop temp 0
label IF_FALSE0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
push constant 0
push constant 0
call FixedPoint.new 3
push this 1
push constant 0
push constant 0
call FixedPoint.new 3
push this 2
call Trig.sin 1
push this 2
call Trig.cos 1
push this 3
call Mortle.new 5
return
function MGun.moveLeft 0
push argument 0
pop pointer 0
push this 2
push constant 5
sub
pop this 2
push this 2
push constant 175
neg
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push constant 360
add
pop this 2
label IF_FALSE0
push pointer 0
call MGun.drawMortal 1
pop temp 0
push constant 0
return
function MGun.moveRight 0
push argument 0
pop pointer 0
push this 2
push constant 5
add
pop this 2
push this 2
push constant 180
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push constant 360
sub
pop this 2
label IF_FALSE0
push pointer 0
call MGun.drawMortal 1
pop temp 0
push constant 0
return
function MGun.getX 0
push argument 0
pop pointer 0
push this 0
return
function MGun.getY 0
push argument 0
pop pointer 0
push this 1
return
