function Main.main 17
push constant 0
pop local 15
push constant 0
pop local 16
push constant 0
pop local 9
push constant 0
pop local 11
push constant 0
pop local 12
push constant 0
pop local 13
push constant 440
push constant 120
call Player.new 2
pop local 1
push constant 50
push constant 120
call Player.new 2
pop local 0
call ScoreBoard.new 0
pop local 6
call EndScreen.new 0
pop local 7
call StartScreen.new 0
pop local 8
push constant 5
pop local 2
push constant 5
pop local 3
push local 2
pop local 4
push local 3
pop local 5
push local 0
push constant 0
call Player.setAssassin 2
pop temp 0
push local 8
call StartScreen.drawStartScreen 1
pop temp 0
push local 6
call ScoreBoard.drawBoard 1
pop temp 0
push local 0
push local 8
call StartScreen.getDifficulty 1
call Player.setSize 2
pop temp 0
push local 1
push local 8
call StartScreen.getDifficulty 1
call Player.setSize 2
pop temp 0
label WHILE_EXP0
push local 0
call Player.getScore 1
push constant 5
lt
push local 1
call Player.getScore 1
push constant 5
lt
and
not
if-goto WHILE_END0
push local 0
call Player.isAssassin 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
call Player.setAssassin 2
pop temp 0
push local 6
push constant 2
call ScoreBoard.drawAssassinIcon 2
pop temp 0
push local 6
push constant 1
call ScoreBoard.eraseIcon 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
not
call Player.setAssassin 2
pop temp 0
push local 6
push constant 1
call ScoreBoard.drawAssassinIcon 2
pop temp 0
push local 6
push constant 2
call ScoreBoard.eraseIcon 2
pop temp 0
label IF_END0
push local 0
push constant 0
call Player.drawPlayer 2
pop temp 0
push local 1
push constant 0
call Player.drawPlayer 2
pop temp 0
push local 0
push local 8
call StartScreen.getDifficulty 1
call Player.setSize 2
pop temp 0
push local 1
push local 8
call StartScreen.getDifficulty 1
call Player.setSize 2
pop temp 0
push local 0
call Player.resetPosition 1
pop temp 0
push local 1
call Player.resetPosition 1
pop temp 0
push constant 0
pop local 15
push constant 0
pop local 16
push constant 0
pop local 13
push constant 0
pop local 11
push constant 15
pop local 10
push constant 0
pop local 9
push local 6
push local 10
call ScoreBoard.updateTimer 2
pop temp 0
push constant 10
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
call Player.isAssassin 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
call Output.printInt 1
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 2
call Output.printInt 1
pop temp 0
label IF_END1
push constant 7
call String.new 1
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 11
push constant 22
call Output.moveCursor 2
pop temp 0
push constant 20
call String.new 1
push constant 96
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP1
push local 12
not
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
push constant 128
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 12
push constant 10
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 15
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 11
push constant 22
call Output.moveCursor 2
pop temp 0
push constant 20
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE2
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 12
label WHILE_EXP2
push local 11
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 14
push local 9
push constant 1
add
pop local 9
push local 9
push constant 5000
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 10
push constant 1
sub
pop local 10
push constant 0
pop local 9
push local 6
push local 10
call ScoreBoard.updateTimer 2
pop temp 0
label IF_FALSE3
push local 15
push constant 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 9
push constant 1
sub
pop local 9
label IF_FALSE4
push local 16
push constant 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 9
push constant 1
sub
pop local 9
label IF_FALSE5
push local 10
push constant 10
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
push constant 31
call Output.moveCursor 2
pop temp 0
label IF_FALSE6
push local 14
push constant 65
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 3
pop local 15
push local 9
push constant 20
add
pop local 9
label IF_FALSE7
push local 14
push constant 87
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 1
pop local 15
push local 9
push constant 20
add
pop local 9
label IF_FALSE8
push local 14
push constant 68
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 4
pop local 15
push local 9
push constant 20
add
pop local 9
label IF_FALSE9
push local 14
push constant 83
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 2
pop local 15
push local 9
push constant 20
add
pop local 9
label IF_FALSE10
push local 14
push constant 130
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 3
pop local 16
push local 9
push constant 20
add
pop local 9
label IF_FALSE11
push local 14
push constant 131
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 1
pop local 16
push local 9
push constant 20
add
pop local 9
label IF_FALSE12
push local 14
push constant 132
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 4
pop local 16
push local 9
push constant 20
add
pop local 9
label IF_FALSE13
push local 14
push constant 133
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push constant 2
pop local 16
push local 9
push constant 20
add
pop local 9
label IF_FALSE14
push local 14
push constant 0
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push local 15
push constant 0
eq
not
push local 16
push constant 0
eq
not
or
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push local 0
call Player.onBorder 1
not
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push local 9
push constant 20
add
pop local 9
label IF_FALSE17
push local 1
call Player.onBorder 1
not
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push local 9
push constant 20
add
pop local 9
label IF_FALSE18
goto IF_END16
label IF_FALSE16
push local 9
push constant 2
add
pop local 9
label IF_END16
label IF_FALSE15
push local 1
push local 0
call Player.checkCollision 2
push local 0
push local 1
call Player.checkCollision 2
or
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push constant 0
not
pop local 13
push constant 0
not
pop local 11
label IF_FALSE19
push local 0
push local 15
call Player.refreshPosition 2
pop temp 0
push local 1
push local 0
call Player.checkCollision 2
push local 0
push local 1
call Player.checkCollision 2
or
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push constant 0
not
pop local 13
push constant 0
not
pop local 11
label IF_FALSE20
push local 1
push local 16
call Player.refreshPosition 2
pop temp 0
push local 1
push local 0
call Player.checkCollision 2
push local 0
push local 1
call Player.checkCollision 2
or
if-goto IF_TRUE21
goto IF_FALSE21
label IF_TRUE21
push constant 0
not
pop local 13
push constant 0
not
pop local 11
label IF_FALSE21
push local 13
if-goto IF_TRUE22
goto IF_FALSE22
label IF_TRUE22
push local 0
call Player.isAssassin 1
if-goto IF_TRUE23
goto IF_FALSE23
label IF_TRUE23
push local 0
call Player.scoreInc 1
pop temp 0
push local 6
push local 0
call Player.getScore 1
push constant 1
call ScoreBoard.updateScore 3
pop temp 0
push local 1
call Player.disintegrate 1
pop temp 0
push local 0
push constant 0
call Player.drawPlayer 2
pop temp 0
push local 1
push constant 0
call Player.drawPlayer 2
pop temp 0
push local 0
call Player.resetPosition 1
pop temp 0
push local 1
call Player.resetPosition 1
pop temp 0
goto IF_END23
label IF_FALSE23
push local 1
call Player.scoreInc 1
pop temp 0
push local 6
push local 1
call Player.getScore 1
push constant 2
call ScoreBoard.updateScore 3
pop temp 0
push local 0
call Player.disintegrate 1
pop temp 0
push local 0
push constant 0
call Player.drawPlayer 2
pop temp 0
push local 1
push constant 0
call Player.drawPlayer 2
pop temp 0
push local 1
call Player.resetPosition 1
pop temp 0
push local 0
call Player.resetPosition 1
pop temp 0
label IF_END23
label IF_FALSE22
push local 14
push constant 67
eq
push local 0
call Player.onBorder 1
not
and
if-goto IF_TRUE24
goto IF_FALSE24
label IF_TRUE24
push local 0
call Player.getX 1
push constant 445
lt
push local 0
call Player.getY 1
push constant 485
lt
and
if-goto IF_TRUE25
goto IF_FALSE25
label IF_TRUE25
push local 0
push constant 0
call Player.drawPlayer 2
pop temp 0
push local 0
push constant 60
call Player.setSize 2
pop temp 0
push local 0
push constant 0
not
call Player.drawPlayer 2
pop temp 0
label IF_FALSE25
label IF_FALSE24
push local 14
push constant 82
eq
if-goto IF_TRUE26
goto IF_FALSE26
label IF_TRUE26
push local 0
push constant 0
call Player.drawPlayer 2
pop temp 0
push local 0
push constant 1
call Player.setSize 2
pop temp 0
push local 0
push constant 0
not
call Player.drawPlayer 2
pop temp 0
label IF_FALSE26
push local 14
push constant 48
eq
if-goto IF_TRUE27
goto IF_FALSE27
label IF_TRUE27
push local 1
push constant 0
call Player.drawPlayer 2
pop temp 0
push local 1
push constant 1
call Player.setSize 2
pop temp 0
push local 1
push constant 0
not
call Player.drawPlayer 2
pop temp 0
label IF_FALSE27
push local 14
push constant 49
eq
push local 1
call Player.onBorder 1
not
and
if-goto IF_TRUE28
goto IF_FALSE28
label IF_TRUE28
push local 1
call Player.getX 1
push constant 445
lt
push local 1
call Player.getY 1
push constant 485
lt
and
if-goto IF_TRUE29
goto IF_FALSE29
label IF_TRUE29
push local 1
push constant 0
call Player.drawPlayer 2
pop temp 0
push local 1
push constant 60
call Player.setSize 2
pop temp 0
push local 1
push constant 0
not
call Player.drawPlayer 2
pop temp 0
label IF_FALSE29
label IF_FALSE28
push local 14
push constant 140
eq
if-goto IF_TRUE30
goto IF_FALSE30
label IF_TRUE30
push constant 0
not
pop local 11
label IF_FALSE30
push local 10
push constant 0
eq
if-goto IF_TRUE31
goto IF_FALSE31
label IF_TRUE31
push local 0
call Player.resetPosition 1
pop temp 0
push local 1
call Player.resetPosition 1
pop temp 0
push constant 0
not
pop local 11
label IF_FALSE31
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push local 0
call Player.getScore 1
push constant 5
eq
if-goto IF_TRUE32
goto IF_FALSE32
label IF_TRUE32
push local 7
push constant 1
call EndScreen.drawEndScreen 2
pop temp 0
goto IF_END32
label IF_FALSE32
push local 7
push constant 2
call EndScreen.drawEndScreen 2
pop temp 0
label IF_END32
push constant 0
return
