function World.new 0
push constant 10
call Memory.alloc 1
pop pointer 0
push constant 504
pop this 2
push constant 256
pop this 3
push constant 12
pop this 1
push constant 42
pop this 4
push this 4
push constant 1
add
pop this 5
push pointer 0
call World.reset 1
pop temp 0
push pointer 0
call World.create_slices 1
pop temp 0
push pointer 0
return
function World.draw 0
push argument 0
pop pointer 0
push this 8
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call World.draw_slices 1
pop temp 0
goto IF_END0
label IF_FALSE0
push this 8
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call World.create_new_slice 1
pop temp 0
goto IF_END1
label IF_FALSE1
push this 8
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call World.shift_slices 1
pop temp 0
goto IF_END2
label IF_FALSE2
push this 8
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call World.update_slices 1
pop temp 0
label IF_FALSE3
label IF_END2
label IF_END1
label IF_END0
push this 8
push constant 1
add
push constant 4
call Random.mod 2
pop this 8
push constant 0
return
function World.draw_slices 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push this 6
pop local 1
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 1
push this 0
add
pop pointer 1
push that 0
pop local 2
push local 2
push local 0
call Slice.draw 2
pop temp 0
push local 0
push this 1
add
pop local 0
push local 1
push constant 1
add
pop local 1
push local 1
push this 5
call Random.mod 2
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function World.update_slices 5
push argument 0
pop pointer 0
push constant 0
pop local 2
push this 6
pop local 3
push this 7
pop local 4
label WHILE_EXP0
push local 2
push this 4
lt
not
if-goto WHILE_END0
push local 4
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 3
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
push local 1
call Slice.update 2
pop temp 0
push local 2
push constant 1
add
pop local 2
push local 3
push constant 1
add
push this 5
call Random.mod 2
pop local 3
push local 4
push constant 1
add
push this 5
call Random.mod 2
pop local 4
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function World.shift_slices 0
push argument 0
pop pointer 0
push this 6
pop this 7
push this 6
push constant 1
add
push this 5
call Random.mod 2
pop this 6
push this 9
push constant 1
add
pop this 9
push constant 0
return
function World.create_new_slice 3
push argument 0
pop pointer 0
push this 7
push this 0
add
pop pointer 1
push that 0
pop local 0
push this 7
push constant 1
sub
push this 5
call Random.mod 2
pop local 2
push local 2
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 0
push local 1
call Slice.build_from 2
pop temp 0
push constant 0
return
function World.collision 5
push argument 0
pop pointer 0
push constant 0
not
pop local 0
push constant 8
push this 6
add
push this 5
call Random.mod 2
push this 0
add
pop pointer 1
push that 0
pop local 1
push constant 9
push this 6
add
push this 5
call Random.mod 2
push this 0
add
pop pointer 1
push that 0
pop local 2
push constant 10
push this 6
add
push this 5
call Random.mod 2
push this 0
add
pop pointer 1
push that 0
pop local 3
push constant 11
push this 6
add
push this 5
call Random.mod 2
push this 0
add
pop pointer 1
push that 0
pop local 4
push local 1
push argument 1
push argument 2
call Slice.in_slice 3
push local 2
push argument 1
push argument 2
call Slice.in_slice 3
and
push local 3
push argument 1
push argument 2
call Slice.in_slice 3
and
push local 4
push argument 1
push argument 2
call Slice.in_slice 3
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
push local 0
return
function World.shrink 1
push argument 0
pop pointer 0
push this 8
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 7
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Slice.shrink 1
pop temp 0
label IF_FALSE0
push constant 0
return
function World.reset 0
push argument 0
pop pointer 0
push constant 0
pop this 6
push this 5
push constant 1
sub
pop this 7
push constant 0
pop this 8
push constant 0
pop this 9
push pointer 0
call World.create_slices 1
pop temp 0
push pointer 0
call World.draw 1
pop temp 0
push constant 0
return
function World.create_slices 0
push argument 0
pop pointer 0
push this 5
call Array.new 1
pop this 0
push constant 0
push this 0
add
push constant 0
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push constant 1
push constant 0
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 0
add
push constant 0
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 0
add
push constant 1
push constant 0
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 0
add
push constant 0
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 0
add
push constant 1
push constant 0
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 0
add
push constant 0
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 0
add
push constant 1
push constant 0
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 0
add
push constant 0
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 0
add
push constant 1
push constant 0
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 0
add
push constant 0
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 0
add
push constant 1
push constant 0
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 0
add
push constant 0
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 0
add
push constant 1
push constant 0
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 0
add
push constant 0
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 0
add
push constant 1
push constant 0
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push this 0
add
push constant 1
push constant 0
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push this 0
add
push constant 0
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push this 0
add
push constant 1
push constant 0
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 37
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 38
push this 0
add
push constant 0
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 39
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 40
push this 0
add
push constant 1
push constant 0
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 41
push this 0
add
push constant 1
push constant 1
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 42
push this 0
add
push constant 1
push constant 0
call Slice.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function World.distance 0
push argument 0
pop pointer 0
push this 9
return
function World.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
