function Ball.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 4
push constant 0
push constant 100
call Random.between 2
push constant 50
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop this 2
goto IF_END0
label IF_FALSE0
push constant 1
neg
pop this 2
label IF_END0
push constant 0
push constant 100
call Random.between 2
push constant 50
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 3
goto IF_END1
label IF_FALSE1
push constant 1
neg
pop this 3
label IF_END1
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
call Display.drawCircle 2
pop temp 0
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push this 0
push this 2
add
pop this 0
push this 1
push this 3
add
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.handleCollisions 0
push argument 0
pop pointer 0
push this 4
push this 0
push this 2
add
push this 1
call Map.blockAt 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
neg
pop this 2
push this 4
push this 0
push this 2
add
push this 1
call Map.blockAt 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 2
label IF_FALSE1
label IF_FALSE0
push this 4
push this 0
push this 1
push this 3
add
call Map.blockAt 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
neg
pop this 3
push this 4
push this 0
push this 1
push this 3
add
call Map.blockAt 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop this 3
label IF_FALSE3
label IF_FALSE2
push this 4
push this 0
push this 2
add
push this 1
push this 3
add
call Map.blockAt 3
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
neg
pop this 2
push this 3
neg
pop this 3
label IF_FALSE4
push constant 0
return
function Ball.collideWithWall 0
push argument 0
pop pointer 0
push argument 1
call Wall.vertical 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push this 0
push this 2
add
push this 1
call Wall.containsBlock 3
return
goto IF_END0
label IF_FALSE0
push argument 1
push this 0
push this 1
push this 3
add
call Wall.containsBlock 3
return
label IF_END0
function Ball.getX 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getY 0
push argument 0
pop pointer 0
push this 1
return
