function Chambers.init 0
push constant 0
pop static 1
push constant 3
pop static 2
push static 2
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 512
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
push constant 512
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 0
add
push constant 512
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 0
add
pop pointer 1
push that 0
call Chambers.buildChamber1 1
pop temp 0
push constant 1
push static 0
add
pop pointer 1
push that 0
call Chambers.buildChamber2 1
pop temp 0
push constant 2
push static 0
add
pop pointer 1
push that 0
call Chambers.buildChamber3 1
pop temp 0
push constant 0
return
function Chambers.downValid 2
push argument 0
push argument 1
push constant 1
add
push constant 32
call Math.multiply 2
add
pop local 0
call Chambers.getRoom 0
pop local 1
push local 0
push local 1
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Chambers.upValid 2
push argument 0
push argument 1
push constant 1
sub
push constant 32
call Math.multiply 2
add
pop local 0
call Chambers.getRoom 0
pop local 1
push local 0
push local 1
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Chambers.getRoom 0
push static 1
push static 0
add
pop pointer 1
push that 0
return
function Chambers.advance 0
push static 1
push constant 1
add
pop static 1
push static 1
push static 2
lt
return
function Chambers.draw 4
push constant 0
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push static 1
push static 0
add
pop pointer 1
push that 0
pop local 3
label WHILE_EXP0
push local 2
push constant 512
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 32
lt
not
if-goto WHILE_END1
push local 0
push local 2
push local 1
add
call Tilesets.drawChamberBlock 2
pop temp 0
push local 1
push constant 1
add
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push local 2
push constant 32
add
pop local 2
push local 0
push constant 480
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Chambers.buildChamber1 0
push constant 0
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 50
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 51
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 52
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 53
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 54
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 55
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 63
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 64
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 85
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 86
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 87
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 88
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 95
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 96
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 127
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 128
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 159
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 160
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 191
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 192
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 223
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 224
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 255
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 256
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 264
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 265
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 266
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 267
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 287
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 288
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 296
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 297
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 298
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 299
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 319
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 320
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 328
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 329
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 330
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 331
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 345
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 346
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 347
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 348
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 351
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 352
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 360
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 361
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 362
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 363
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 377
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 378
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 379
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 380
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 383
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 384
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 392
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 393
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 394
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 395
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 409
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 410
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 411
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 412
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 415
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 416
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 424
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 425
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 426
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 427
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 441
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 442
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 443
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 444
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 447
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 448
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 449
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 450
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 451
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 452
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 453
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 454
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 455
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 456
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 457
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 458
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 459
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 473
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 474
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 475
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 476
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 479
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 480
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 481
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 482
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 483
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 484
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 485
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 486
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 487
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 488
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 489
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 490
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 491
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 492
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 493
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 494
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 495
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 496
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 497
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 498
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 499
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 500
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 501
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 502
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 503
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 504
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 505
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 506
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 507
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 508
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 509
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 510
push argument 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 511
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Chambers.buildChamber2 0
push constant 0
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 50
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 52
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 60
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 62
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 64
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 82
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 83
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 86
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 87
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 89
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 90
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 93
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 94
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 96
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 114
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 117
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 120
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 123
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 126
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 128
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 146
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 149
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 155
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 158
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 160
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 178
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 182
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 186
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 190
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 192
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 210
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 215
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 217
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 222
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 224
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 242
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 243
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 248
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 253
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 254
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 256
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 274
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 276
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 284
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 286
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 288
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 306
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 307
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 308
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 309
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 310
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 311
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 312
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 313
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 314
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 315
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 316
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 317
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 318
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 319
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 320
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 351
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 352
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 383
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 384
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 402
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 403
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 405
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 406
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 407
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 408
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 409
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 410
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 411
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 412
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 413
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 414
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 415
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 416
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 434
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 447
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 448
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 466
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 479
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 480
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 481
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 482
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 483
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 484
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 485
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 486
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 487
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 488
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 489
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 490
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 491
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 492
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 493
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 494
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 495
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 496
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 497
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 498
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 499
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 500
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 501
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 502
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 503
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 504
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 505
push argument 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 506
push argument 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 507
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 508
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 509
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 510
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 511
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Chambers.buildChamber3 0
push constant 0
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 50
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 63
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 64
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 82
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 95
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 96
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 114
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 124
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 125
push argument 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 126
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 127
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 128
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 129
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 131
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 132
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 133
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 134
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 135
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 136
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 137
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 138
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 139
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 140
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 141
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 142
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 143
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 144
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 145
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 146
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 150
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 151
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 152
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 153
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 154
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 155
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 156
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 157
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 158
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 159
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 160
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 171
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 191
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 192
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 203
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 223
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 224
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 235
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 255
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 256
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 257
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 259
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 260
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 261
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 262
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 263
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 264
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 265
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 266
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 267
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 271
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 272
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 273
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 274
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 275
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 277
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 278
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 279
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 280
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 281
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 282
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 283
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 284
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 285
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 286
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 287
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 288
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 294
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 319
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 320
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 326
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 351
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 352
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 358
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 383
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 384
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 385
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 387
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 388
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 389
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 390
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 394
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 395
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 396
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 397
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 398
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 399
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 400
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 401
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 402
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 403
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 405
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 406
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 407
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 408
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 409
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 410
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 411
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 412
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 413
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 414
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 415
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 416
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 447
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 448
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 479
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 480
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 481
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 482
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 483
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 484
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 485
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 486
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 487
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 488
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 489
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 490
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 491
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 492
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 493
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 494
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 495
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 496
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 497
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 498
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 499
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 500
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 501
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 502
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 503
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 504
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 505
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 506
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 507
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 508
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 509
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 510
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 511
push argument 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
