function Main.main 7
push constant 22
pop local 3
push constant 4
pop local 2
push local 2
push local 3
call MArray.new 2
pop local 0
push local 0
call MArray.DrawGrid 1
pop temp 0
push local 0
push constant 0
push constant 0
push constant 1
call MArray.Set 4
pop temp 0
push local 0
push constant 1
push constant 1
push constant 2
call MArray.Set 4
pop temp 0
push local 0
push constant 2
push constant 2
push constant 3
call MArray.Set 4
pop temp 0
push constant 0
return
